@charset "utf-8";
/* CSS Document */

.sermon-rotator-25, .sermon-rotator-33, .sermon-rotator-38, .sermon-rotator-50, .sermon-rotator-63, .sermon-rotator-75, .sermons-rotator-main
{
	overflow:hidden;
	cursor:pointer;
}
#sermons-rotator-left-slide
{
	position:relative;
}
.sermon-rotator-current-25, .sermon-rotator-current-33, 
.sermon-rotator-current-38, .sermon-rotator-current-50, 
.sermon-rotator-current-63, .sermon-rotator-current-75
{
	color:#FFF;
}
.sermon-rotator-image, .sermon-rotator-text, .sermons-rotator-right, .sermons-rotator-left
{
	float:left;
}
.sermon-rotator-text
{
	margin-left:5px;	
}

.sermon-rotator-arrow-25, .sermon-rotator-25, .sermon-rotator-current-25
{
	height:25px;	
}
.sermon-rotator-arrow-33, .sermon-rotator-33, .sermon-rotator-current-33
{
	height:33px;	
}
.sermon-rotator-arrow-38, .sermon-rotator-38, .sermon-rotator-current-38
{
	height:38px;	
}
.sermon-rotator-arrow-50, .sermon-rotator-50, .sermon-rotator-current-50
{
	height:50px;	
}
.sermon-rotator-arrow-63, .sermon-rotator-63, .sermon-rotator-current-63
{
	height:63px;	
}
.sermon-rotator-arrow-75, .sermon-rotator-75, .sermon-rotator-current-75
{
	height:75px;	
}

.sermons-rotator-right
{
	visibility:hidden;
	display:none;
}
.sermons-rotator-right-current
{
	visibility:visible;
	display:inline;	
}

.sermon-rotator-arrow-25
{
	width:13px;	
}
.sermon-rotator-arrow-33
{
	width:17px;		
}
.sermon-rotator-arrow-38
{
	width:20px;		
}
.sermon-rotator-arrow-50
{
	width:26px;		
}
.sermon-rotator-arrow-63
{
	width:33px;		
}
.sermon-rotator-arrow-75
{
	width:39px;		
}