.row0 {
background-color: #dddddd;
}

.row1 {
background-color: #ffffff;
}

.download_btn {
font-size: 12px;
color: #000066;
font-family: verdana;
}

.popup_btn {
font-size: 12px;
color: #000066;
font-family: verdana;
}

.icon_play {
vertical-align: middle;
}

img.speaker{
float:left;
padding:5px;
margin:5px;
border:1px solid #808080;
}