<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="component"
		label="COM_SERMONSPEAKER_FIELDSET_COMPONENT_LABEL" >
		<field name="date_format" 
			type="dateformat" 
			default="DATE_FORMAT_LC4" 
			label="COM_SERMONSPEAKER_PARAM_DATE_FORMAT" 
			description="COM_SERMONSPEAKER_PARAM_DATE_FORMAT_DESC">
		</field>
		<field name="plugin_tag" 
			type="tag" 
			label="COM_SERMONSPEAKER_PARAM_PLUGIN_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PLUGIN_DESC" />
		<field name="write_id3"
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_WRITE_ID3_LABEL"
			description="COM_SERMONSPEAKER_FIELD_WRITE_ID3_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="addfiledesc"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_ADDFILEDESC_LABEL"
			description="COM_SERMONSPEAKER_PARAM_ADDFILEDESC_DESC" />
		<field name="seriesdl"
			type="list"
			default="1"
			label="COM_SERMONSPEAKER_PARAM_SERIESDL_LABEL"
			description="COM_SERMONSPEAKER_PARAM_SERIESDL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="limitseriesdl"
			type="text"
			default=""
			label="COM_SERMONSPEAKER_PARAM_LIMITSERIESDL_LABEL"
			description="COM_SERMONSPEAKER_PARAM_LIMITSERIESDL_DESC" />

		<field name="spacer1"
			type="spacer"
			hr="true" />
		<field name="default_order" 
			type="list" 
			default="ordering" 
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DESC">
			<option value="ordering">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_ORDERING</option>
			<option value="sermon_date">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_DATE</option>
			<option value="sermon_title">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_TITLE</option>
		</field>
		<field name="default_order_dir" 
			type="list" 
			default="ASC" 
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_DESC">
			<option value="ASC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_ASC</option>
			<option value="DESC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_DESC</option>
		</field>
		<field name="list_icon_function" 
			type="list" 
			default="2" 
			label="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_DESC">
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
			<option value="4">JHIDE</option>
		</field>
		<field name="list_title_function" 
			type="list" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_DESC">
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
		</field>
		<field name="filter_field"
			type="radio"
			default="0"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="COM_SERMONSPEAKER_FILTER_FIELD_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field name="show_pagination_limit"
			type="radio" default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field name="show_pagination"
			type="list"
			default="1"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc">
				<option value="0">JHIDE</option>
				<option value="2">JGLOBAL_AUTO</option>
		</field>
		<field name="show_pagination_results"
			type="radio"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>
	</fieldset>
	<fieldset name="layouts"
		label="COM_SERMONSPEAKER_FIELDSET_LAYOUTS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_LAYOUTS_DESC">
		<field
			name="sermonslayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SERMONS_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="sermons"
		/>
		<field
			name="sermonlayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SERMON_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:icon"
			useglobal="false"
			extension="com_sermonspeaker"
			view="sermon"
		/>
		<field
			name="serieslayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SERIES_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="series"
		/>
		<field
			name="serielayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SERIE_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="serie"
		/>
		<field
			name="speakerslayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SPEAKERS_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="speakers"
		/>
		<field
			name="speakerlayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:sermons"
			useglobal="false"
			extension="com_sermonspeaker"
			view="speaker"
		/>
		<field
			name="seriessermonlayout" type="componentlayout"
			label="COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="seriessermon"
		/>
		<field
			name="categorieslayout" type="componentlayout"
			label="COM_SERMONSPEAKER_CATEGORIES_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:default"
			useglobal="false"
			extension="com_sermonspeaker"
			view="categories"
		/>
	</fieldset>
	<fieldset name="clientcol"
		addfieldpath="/administrator/components/com_sermonspeaker/models/fields"
		label="COM_SERMONSPEAKER_FIELDSET_CLIENTCOL_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_CLIENTCOL_DESC">
		<field name="col" type="columns"
			label="COM_SERMONSPEAKER_SERMON" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="num,scripture,speaker,date,length,series,addfile,notes,player,hits,download" >
			<option value="sermons">COM_SERMONSPEAKER_SERMONS_VIEW_TITLE</option>
			<option value="sermon">COM_SERMONSPEAKER_SERMON_VIEW_TITLE</option>
			<option value="serie" exclude="series">COM_SERMONSPEAKER_SERIE_VIEW_TITLE</option>
			<option value="speaker" exclude="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
			<option value="seriessermon" exclude="series">COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE</option>
		</field>
		<field name="col_serie" type="columns"
			label="COM_SERMONSPEAKER_SERIE" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="description,speaker,hits,download" >
			<option value="series">COM_SERMONSPEAKER_SERIES_VIEW_TITLE</option>
			<option value="serie">COM_SERMONSPEAKER_SERIE_VIEW_TITLE</option>
			<option value="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
			<option value="seriessermon">COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE</option>
		</field>
		<field name="col_speaker" type="columns"
			label="COM_SERMONSPEAKER_SPEAKER" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="intro,bio,hits" >
			<option value="speakers">COM_SERMONSPEAKER_SPEAKERS_VIEW_TITLE</option>
			<option value="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
		</field>
	</fieldset>
	<fieldset name="paths"
		label="COM_SERMONSPEAKER_FIELDSET_PATHS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PATHS_DESC">
		<field name="path" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SERMONS" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SERMONS_DESC" />
		<field name="path_addfile" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE" 
			description="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE_DESC" />
		<field name="append_path"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_APPEND_PATH_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="append_path_lang"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LANG_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LANG_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="spacer1"
			type="spacer" 
			hr="true" />
		<field name="spacer_path"
			type="spacer" 
			label="COM_SERMONSPEAKER_SPACER_SERMON_LABEL" 
			description="COM_SERMONSPEAKER_SPACER_SERMON_DESC" />
		<field name="path_mode_audio"
			type="list"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_PATH_MODE_AUDIO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_MODE_AUDIO_DESC">
			<option value="0">JDEFAULT</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_PATH_MODE_S3</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_PATH_MODE_EXTERNAL</option>
		</field>
		<field name="path_mode_video"
			type="list"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_PATH_MODE_VIDEO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_MODE_VIDEO_DESC">
			<option value="0">JDEFAULT</option>
			<option value="1">COM_SERMONSPEAKER_FIELD_PATH_MODE_VIMEO</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_PATH_MODE_S3</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_PATH_MODE_EXTERNAL</option>
		</field>
		<field name="vimeo_id" 
			type="text" 
			size="50" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_VIMEO_ID_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_VIMEO_ID_DESC" />
		<field name="s3_bucket" 
			type="text" 
			size="50" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_S3_BUCKET_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_S3_BUCKET_DESC" />
		<field name="s3_access_key" 
			type="text" 
			size="50" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_S3_ACCESS_KEY_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_S3_ACCESS_KEY_DESC" />
		<field name="s3_secret_key" 
			type="text" 
			size="50" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_S3_SECRET_KEY_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_S3_SECRET_KEY_DESC" />
		<field name="extern_path" 
			type="text" 
			size="50" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_EXTERN_PATH_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_EXTERN_PATH_DESC" />
		<field name="spacer2"
			type="spacer" 
			hr="true" />
		<field name="spacer_pictures"
			type="spacer" 
			label="COM_SERMONSPEAKER_SPACER_PICTURES_LABEL" 
			description="COM_SERMONSPEAKER_SPACER_PICTURES_DESC" />
		<field name="path_avatar"
			type="text"
			size="50"
			default="images"
			label="COM_SERMONSPEAKER_PARAM_PATH_AVATAR"
			description="COM_SERMONSPEAKER_PARAM_PATH_AVATAR_DESC" />
		<field name="path_speakerpic" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_DESC" />
		<field name="path_sermonpic" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_DESC" />
		
	</fieldset>
	<fieldset name="player"
		label="COM_SERMONSPEAKER_FIELDSET_PLAYER_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PLAYER_DESC">
		<field name="alt_player" 
			type="list" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_ALT_PLAYER_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_ALT_PLAYER_DESC">
			<option value="0">JW Player</option>
			<option value="2">FlowPlayer</option>
			<option value="1">Wordpress Audio Player</option>
		</field>
		<field name="autostart" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_AUTOSTART" 
			description="COM_SERMONSPEAKER_PARAM_AUTOSTART_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="fileprio"
			type="list"
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_FILEPRIO_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FILEPRIO_DESC">
			<option value="0">COM_SERMONSPEAKER_AUDIO</option>
			<option value="1">COM_SERMONSPEAKER_VIDEO</option>
		</field>
		<field name="fileswitch" 
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_PARAM_FILESWITCH_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FILESWITCH_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="awidth" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_AWIDTH_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_AWIDTH_DESC" />
		<field name="aheight" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_AHEIGHT_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_AHEIGHT_DESC" />
		<field name="vwidth" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_VWIDTH_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_VWIDTH_DESC" />
		<field name="vheight" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_VHEIGHT_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_VHEIGHT_DESC" />
		<field name="jwmode"
			type="list"
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_JWMODE_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_JWMODE_DESC">
			<option value="0">COM_SERMONSPEAKER_PARAM_JWMODE_OPTION_FLASH</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_JWMODE_OPTION_HTML5</option>
		</field>
		<field name="jwskin" 
			type="text" 
			default="" 
			size="75"
			label="COM_SERMONSPEAKER_FIELD_JWSKIN_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_JWSKIN_DESC" />
		<field name="plugins_spacer1" 
			type="spacer"
			hr="true"/>
		<field name="plugins_spacer2" 
			type="spacer"
			label="COM_SERMONSPEAKER_FIELD_PLUGINSSPACER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PLUGINSSPACER_DESC" />
		<field name="ga_id" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_GAID_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_GAID_DESC" />
		<field name="share"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_SHARE_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_SHARE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="viral"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_VIRAL_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_VIRAL_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="fbit"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_FBIT_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_FBIT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="tweetit"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_TWEETIT_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_TWEETIT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="plusone"
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_PLUSONE_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_PLUSONE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="detailpage"
		label="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_DESC">
		<field name="popup_player" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_POPUPBTN" 
			description="COM_SERMONSPEAKER_PARAM_POPUPBTN_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="popup_color" 
			type="text" 
			default="#FFFFFF" 
			label="COM_SERMONSPEAKER_PARAM_POPUPCOLOR" 
			description="COM_SERMONSPEAKER_PARAM_POPUPCOLOR_DESC" />
		<field name="popup_height" 
			type="text" 
			default="150" 
			label="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT" 
			description="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT_DESC" />
		<field name="custom1" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_CUSTOM1_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_CUSTOM1_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="custom2" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_CUSTOM2_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_CUSTOM2_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="enable_keywords" 
			type="list" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_DESC">
			<option value="0">JNO</option>
			<option value="1">JFIELD_META_KEYWORDS_LABEL</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_TAGS_LABEL</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_OPTION_BOTH</option>
		</field>
		<field name="tags_to_metakey" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_TAGS_TO_METAKEY_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_TAGS_TO_METAKEY_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="access" type="accesslevel"
			label="COM_SERMONSPEAKER_PARAM_ACCESS" 
			description="COM_SERMONSPEAKER_PARAM_ACCESS_DESC"
			default="1" />
	</fieldset>
	<fieldset name="category"
		label="JCATEGORY"
		description="COM_SERMONSPEAKER_CONFIG_CATEGORY_SETTINGS_DESC">
		<field name="show_category_title" type="radio"
				label="JGLOBAL_SHOW_CATEGORY_TITLE"
				description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
				default="1">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>
		<field name="show_description" type="radio"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_description_image" type="radio"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
			default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="maxLevel" type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			default="-1">
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
		<field name="show_empty_categories" type="radio"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_SERMONSPEAKER_SHOW_EMPTY_CATEGORIES_DESC"
			default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_subcat_desc" type="radio"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_cat_num_items" type="radio"
			label="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_subcategory_content" type="list"
			label="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_DESC"
			default="0">
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
	</fieldset>
	<fieldset name="categories"
		label="JCATEGORIES"
		description="COM_SERMONSPEAKER_CONFIG_CATEGORIES_SETTINGS_DESC">
		<field name="show_base_description" type="radio"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="maxLevelcat" type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			default="-1">
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
		<field name="show_empty_categories_cat" type="radio"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_SERMONSPEAKER_SHOW_EMPTY_CATEGORIES_DESC"
			default="0">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_subcat_desc_cat" type="radio"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="show_cat_num_items_cat" type="radio"
			label="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_DESC"
			default="1">
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>
		<field name="count_items_type" type="list"
			label="COM_SERMONSPEAKER_CATEGORY_ITEMS_TYPE_LABEL"
			description="COM_SERMONSPEAKER_CATEGORY_ITEMS_TYPE_DESC">
			<option value="sermons">COM_SERMONSPEAKER_SERMONS</option>
			<option value="series">COM_SERMONSPEAKER_SERIES</option>
			<option value="speakers">COM_SERMONSPEAKER_SPEAKERS</option>
		</field>
	</fieldset>
	<fieldset name="statistics"
		label="COM_SERMONSPEAKER_FIELDSET_STATISTICS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_STATISTICS_DESC">
		<field name="track_speaker" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="track_series" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSERIES" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSERIES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="track_sermon" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSERMON" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSERMON_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="frup"
		label="COM_SERMONSPEAKER_FIELDSET_FRUP_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_FRUP_DESC">
		<field name="fu_enable" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_FU_ENABLE" 
			description="COM_SERMONSPEAKER_PARAM_FU_ENABLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="enable_flash"
			type="radio"
			default="1"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="sermoncast"
		label="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_DESC">
		<field name="sc_title" 
			type="text" 
			default="MyChurch Podcast" 
			label="COM_SERMONSPEAKER_PARAM_FEED_TITLE_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_TITLE_DESC" />
		<field name="description" 
			type="text" 
			default="Predigt / Sermon" 
			label="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_DESC" />
		<field name="copyright" 
			type="text" 
			default="(c) mychurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_DESC" />
		<field name="editor" 
			type="text" 
			default="MyChurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOR" 
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOR_DESC" />
		<field name="editorEmail" 
			type="text" 
			default="admin@mychurch.com" 
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL_DESC" />
		<field name="limit_text" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT" 
			description="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="text_length" 
			type="text" 
			default="20" 
			label="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH" 
			description="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH_DESC" />
		<field name="spacer_itunes"
			type="spacer"
			hr="false"
			label="COM_SERMONSPEAKER_FIELDSET_ITUNES_LABEL"
			description="COM_SERMONSPEAKER_FIELDSET_ITUNES_DESC" />
		<field name="itKeywords" 
			type="text" 
			default="MyChurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS_DESC" />
		<field name="itSubtitle" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE_DESC" />
		<field name="itImage" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE_DESC" />
		<field name="itCategory1" 
			type="list" 
			default="Religion &amp; Spirituality" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion + Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion + Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion + Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion + Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion + Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids + Family</option>
			<option value="Sports &amp; Recreation">Sports + Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports + Recreation > Professional</option>
		</field>
		<field name="itCategory2" 
			type="list" 
			default="Religion &amp; Spirituality > Christianity" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion + Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion + Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion + Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion + Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion + Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids + Family</option>
			<option value="Sports &amp; Recreation">Sports + Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports + Recreation > Professional</option>
		</field>
		<field name="itCategory3" 
			type="list" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion + Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion + Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion + Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion + Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion + Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids + Family</option>
			<option value="Sports &amp; Recreation">Sports + Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports + Recreation > Professional</option>
		</field>
		<field name="itOwnerName" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME_DESC" />
		<field name="itOwnerEmail" 
			type="text" 
			default="admin@mychurch.com" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL_DESC" />
		<field name="itLanguage" 
			type="text" 
			default="en" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE_DESC" />
		<field name="itRedirect" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT_DESC" />
	</fieldset>
	<fieldset name="sitemap"
		label="COM_SERMONSPEAKER_FIELDSET_SITEMAP_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_SITEMAP_DESC" >
		<field name="freq" type="list" 
			label="COM_SERMONSPEAKER_PARAM_FREQ_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FREQ_DESC"
			useglobal="true"
			default="weekly">
			<option value="always">always</option>
			<option value="hourly">hourly</option>
			<option value="daily">daily</option>
			<option value="weekly">weekly</option>
			<option value="monthly">monthly</option>
			<option value="yearly">yearly</option>
			<option value="never">never</option>
		</field>

		<field name="prio" type="list" 
			label="COM_SERMONSPEAKER_PARAM_PRIO_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PRIO_DESC"
			useglobal="true"
			default="0.5">
			<option value="0.0">0.0</option>
			<option value="0.2">0.2</option>
			<option value="0.3">0.3</option>
			<option value="0.4">0.4</option>
			<option value="0.5">0.5</option>
			<option value="0.6">0.6</option>
			<option value="0.7">0.7</option>
			<option value="0.8">0.8</option>
			<option value="0.9">0.9</option>
			<option value="1.0">1.0</option>
		</field>
	</fieldset>
	<fieldset name="integration"
		label="JGLOBAL_INTEGRATION_LABEL" >
		<field name="enable_jcomments"
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="enable_ga_events"
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_GA_EVENTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_GA_EVENTS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="facebook_spacer1" 
			type="spacer"
			hr="true"/>
		<field name="facebook_spacer2" 
			type="spacer"
			label="COM_SERMONSPEAKER_FIELD_FBSPACER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBSPACER_DESC" />
		<field name="fbadmins" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_FBADMINS_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_FBADMINS_DESC" />
		<field name="fbapp_id" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_FIELD_FBAPPID_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_FBAPPID_DESC" />
		<field name="fbmode"
			type="list"
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_FBMODE_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_FBMODE_DESC" >
			<option value="0">COM_SERMONSPEAKER_FIELD_FBMODE_OPTION_AUTO</option>
			<option value="1">COM_SERMONSPEAKER_FIELD_FBMODE_OPTION_ARTICLE</option>
		</field>
	</fieldset>
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sermonspeaker"
			section="component"
		/>
	</fieldset>
</config>