<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset name="component"
		label="COM_SERMONSPEAKER_FIELDSET_COMPONENT_LABEL" >
		<field name="date_format" 
			type="dateformat" 
			default="DATE_FORMAT_LC4" 
			label="COM_SERMONSPEAKER_PARAM_DATE_FORMAT" 
			description="COM_SERMONSPEAKER_PARAM_DATE_FORMAT_DESC">
		</field>
		<field name="plugin_tag" 
			type="tag" 
			label="COM_SERMONSPEAKER_PARAM_PLUGIN_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PLUGIN_DESC" />
		<field name="spacer1"
			type="spacer"
			hr="true" />
		<field name="default_order" 
			type="list" 
			default="ordering" 
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DESC">
			<option value="ordering">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_ORDERING</option>
			<option value="sermon_date">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_DATE</option>
			<option value="sermon_title">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_TITLE</option>
		</field>
		<field name="default_order_dir" 
			type="list" 
			default="ASC" 
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_DESC">
			<option value="ASC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_ASC</option>
			<option value="DESC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_DESC</option>
		</field>
		<field name="list_icon_function" 
			type="list" 
			default="2" 
			label="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_DESC">
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
		</field>
		<field name="list_title_function" 
			type="list" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_DESC">
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
		</field>
		<field name="filter_field"
			type="radio"
			default="0"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="COM_SERMONSPEAKER_FILTER_FIELD_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field name="show_pagination_limit"
			type="radio" default="1"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

		<field name="show_pagination"
			type="list"
			default="1"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc">
				<option value="0">JHIDE</option>
				<option value="2">JGLOBAL_AUTO</option>
		</field>
		<field name="show_pagination_results"
			type="radio"
			default="1"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC">
				<option value="0">JHIDE</option>
				<option value="1">JSHOW</option>
		</field>

	</fieldset>
	<fieldset name="paths"
		label="COM_SERMONSPEAKER_FIELDSET_PATHS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PATHS_DESC">
		<field name="path" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SERMONS" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SERMONS_DESC" />
		<field name="path_avatar"
			type="text"
			size="50"
			default="images"
			label="COM_SERMONSPEAKER_PARAM_PATH_AVATAR"
			description="COM_SERMONSPEAKER_PARAM_PATH_AVATAR_DESC" />
		<field name="path_addfile" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE" 
			description="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE_DESC" />
		<field name="path_speakerpic" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_DESC" />
		<field name="path_sermonpic" 
			type="text" 
			size="50" 
			default="images" 
			label="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_DESC" />
		
	</fieldset>
	<fieldset name="player"
		label="COM_SERMONSPEAKER_FIELDSET_PLAYER_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PLAYER_DESC">
		<field name="alt_player" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_ALT_PLAYER" 
			description="COM_SERMONSPEAKER_PARAM_ALT_PLAYER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="autostart" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_AUTOSTART" 
			description="COM_SERMONSPEAKER_PARAM_AUTOSTART_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="mp_width" 
			type="text" 
			default="300" 
			label="COM_SERMONSPEAKER_PARAM_VIDEOWIDTH" 
			description="COM_SERMONSPEAKER_PARAM_VIDEOWIDTH_DESC" />
		<field name="mp_height" 
			type="text" 
			default="300" 
			label="COM_SERMONSPEAKER_PARAM_VIDEOHEIGHT" 
			description="COM_SERMONSPEAKER_PARAM_VIDEOHEIGHT_DESC" />
		<field name="fileprio" 
			type="list" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_FILEPRIO_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FILEPRIO_DESC">
			<option value="0">COM_SERMONSPEAKER_AUDIO</option>
			<option value="1">COM_SERMONSPEAKER_VIDEO</option>
		</field>
		<field name="fileswitch" 
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_PARAM_FILESWITCH_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FILESWITCH_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="detailpage"
		label="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_DESC">
		<field
			name="sermonlayout" type="componentlayout"
			label="COM_SERMONSPEAKER_PARAM_SERMONLAYOUT"
			description="COM_SERMONSPEAKER_PARAM_SERMONLAYOUT_DESC"
			useglobal="false"
			extension="com_sermonspeaker"
			view="sermon"
		/>
		<field name="dl_button" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_DOWNLOADBTN" 
			description="COM_SERMONSPEAKER_PARAM_DOWNLOADBTN_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="popup_player" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_POPUPBTN" 
			description="COM_SERMONSPEAKER_PARAM_POPUPBTN_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="popup_color" 
			type="text" 
			default="#FFFFFF" 
			label="COM_SERMONSPEAKER_PARAM_POPUPCOLOR" 
			description="COM_SERMONSPEAKER_PARAM_POPUPCOLOR_DESC" />
		<field name="popup_height" 
			type="text" 
			default="150" 
			label="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT" 
			description="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT_DESC" />
		<field name="custom1" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_CUSTOM1_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_CUSTOM1_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="custom2" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_CUSTOM2_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_CUSTOM2_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="enable_keywords" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_LABEL" 
			description="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="access" type="accesslevel"
			label="COM_SERMONSPEAKER_PARAM_ACCESS" 
			description="COM_SERMONSPEAKER_PARAM_ACCESS_DESC"
			default="1" />
	</fieldset>
	<fieldset name="clientcol"
		addfieldpath="/administrator/components/com_sermonspeaker/models/fields"
		label="COM_SERMONSPEAKER_FIELDSET_CLIENTCOL_LABEL">
		<field name="col" type="columns"
			label="COM_SERMONSPEAKER_SERMON" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="num,scripture,speaker,date,length,series,addfile,notes,player,hits" >
			<option value="sermons" exclude="notes">COM_SERMONSPEAKER_SERMONS_VIEW_DEFAULT_TITLE</option>
			<option value="sermon">COM_SERMONSPEAKER_SERMON_VIEW_DEFAULT_TITLE</option>
			<option value="serie" exclude="series,notes">COM_SERMONSPEAKER_SERIE_VIEW_DEFAULT_TITLE</option>
			<option value="speaker" exclude="speaker,notes">COM_SERMONSPEAKER_SPEAKER_VIEW_DEFAULT_TITLE</option>
			<option value="archive" exclude="notes">COM_SERMONSPEAKER_ARCHIVE_VIEW_DEFAULT_TITLE</option>
			<option value="seriessermon" exclude="num,scripture,speaker,length,series,hits">COM_SERMONSPEAKER_SERIESSERMON_VIEW_DEFAULT_TITLE</option>
		</field>
		<field name="col_serie" type="columns"
			label="COM_SERMONSPEAKER_SERIE" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="description,speaker,hits,download" >
			<option value="series" exclude="description">COM_SERMONSPEAKER_SERIES_VIEW_DEFAULT_TITLE</option>
			<option value="serie" exclude="speaker">COM_SERMONSPEAKER_SERIE_VIEW_DEFAULT_TITLE</option>
			<option value="speaker" exclude="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_DEFAULT_TITLE</option>
			<option value="seriessermon" exclude="speaker,hits,download">COM_SERMONSPEAKER_SERIESSERMON_VIEW_DEFAULT_TITLE</option>
		</field>
		<field name="col_speaker" type="columns"
			label="COM_SERMONSPEAKER_SPEAKER" 
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="intro,bio,hits" >
			<option value="speakers" exclude="hits">COM_SERMONSPEAKER_SPEAKERS_VIEW_DEFAULT_TITLE</option>
			<option value="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_DEFAULT_TITLE</option>
		</field>
	</fieldset>
	<fieldset name="statistics"
		label="COM_SERMONSPEAKER_FIELDSET_STATISTICS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_STATISTICS_DESC">
		<field name="track_speaker" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="track_series" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSERIES" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSERIES_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="track_sermon" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_TRACKSERMON" 
			description="COM_SERMONSPEAKER_PARAM_TRACKSERMON_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="frup"
		label="COM_SERMONSPEAKER_FIELDSET_FRUP_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_FRUP_DESC">
		<field name="fu_enable" 
			type="radio" 
			default="0" 
			label="COM_SERMONSPEAKER_PARAM_FU_ENABLE" 
			description="COM_SERMONSPEAKER_PARAM_FU_ENABLE_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="fu_destdir" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FU_DESTDIR" 
			description="COM_SERMONSPEAKER_PARAM_FU_DESTDIR_DESC" />
		<field name="fu_id3_comments" 
			type="list" 
			default="Comment" 
			label="COM_SERMONSPEAKER_PARAM_FU_ID3_COMMENT" 
			description="COM_SERMONSPEAKER_PARAM_FU_ID3_COMMENT_DESC">
			<option value="notes">Notes</option>
			<option value="ref">Scripture</option>
		</field>
		<field name="enable_flash"
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="sermoncast"
		label="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_DESC">
		<field name="sc_title" 
			type="text" 
			default="MyChurch Podcast" 
			label="COM_SERMONSPEAKER_PARAM_FEED_TITLE_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_TITLE_DESC" />
		<field name="description" 
			type="text" 
			default="Predigt / Sermon" 
			label="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_DESC" />
		<field name="copyright" 
			type="text" 
			default="(c) mychurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_LABEL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_DESC" />
		<field name="editor" 
			type="text" 
			default="MyChurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOR" 
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOR_DESC" />
		<field name="editorEmail" 
			type="text" 
			default="admin@mychurch.com" 
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL_DESC" />
		<field name="limit_text" 
			type="radio" 
			default="1" 
			label="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT" 
			description="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field name="text_length" 
			type="text" 
			default="20" 
			label="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH" 
			description="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH_DESC" />
		<field name="spacer_itunes"
			type="spacer"
			hr="false"
			label="COM_SERMONSPEAKER_FIELDSET_ITUNES_LABEL"
			description="COM_SERMONSPEAKER_FIELDSET_ITUNES_DESC" />
		<field name="itKeywords" 
			type="text" 
			default="MyChurch" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS_DESC" />
		<field name="itSubtitle" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE_DESC" />
		<field name="itImage" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE_DESC" />
		<field name="itCategory1" 
			type="list" 
			default="Religion &amp; Spirituality" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion &amp; Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion &amp; Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion &amp; Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion &amp; Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports &amp; Recreation > Professional</option>
		</field>
		<field name="itCategory2" 
			type="list" 
			default="Religion &amp; Spirituality > Christianity" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion &amp; Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion &amp; Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion &amp; Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion &amp; Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports &amp; Recreation > Professional</option>
		</field>
		<field name="itCategory3" 
			type="list" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3_DESC">
			<option value="">(none)</option>
			<option value="Education">Education</option>
			<option value="Religion &amp; Spirituality">Religion &amp; Spirituality</option>
			<option value="Religion &amp; Spirituality > Christianity">Religion &amp; Spirituality > Christianity</option>
			<option value="Religion &amp; Spirituality > Judaism">Religion &amp; Spirituality > Judaism</option>
			<option value="Religion &amp; Spirituality > Other">Religion &amp; Spirituality > Other</option>
			<option value="Religion &amp; Spirituality > Spirituality">Religion &amp; Spirituality > Spirituality</option>
			<option value="Music">Music</option>
			<option value="Kids &amp; Family">Kids &amp; Family</option>
			<option value="Sports &amp; Recreation">Sports &amp; Recreation</option>
			<option value="Sports &amp; Recreation > Professional">Sports &amp; Recreation > Professional</option>
		</field>
		<field name="itOwnerName" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME_DESC" />
		<field name="itOwnerEmail" 
			type="text" 
			default="admin@mychurch.com" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL_DESC" />
		<field name="itLanguage" 
			type="text" 
			default="en" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE_DESC" />
		<field name="itRedirect" 
			type="text" 
			default="" 
			label="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT" 
			description="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT_DESC" />
	</fieldset>
	<fieldset name="integration"
		label="JGLOBAL_INTEGRATION_LABEL" >
		<field name="enable_jcomments"
			type="radio"
			default="0"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC" >
		<field name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sermonspeaker"
			section="component"
		/>
	</fieldset>
</config>