/** header icons **/
.icon-48-speakers 		{ background-image: url(images/speakers.png); }
.icon-48-series	 		{ background-image: url(images/series.png); }
.icon-48-sermons 		{ background-image: url(images/sermon.png); }
.icon-48-statistics 		{ background-image: url(images/stats.png); }
.icon-48-sermonhelp 		{ background-image: url(images/help.png); }


.transparent {
	opacity: 0.25;
	-moz-opacity:0.25;
	filter:alpha(opacity=25);
}
