.ss-avatar, .ss-pic {
	float: left;
}

.ss-avatar img, .ss-pic img {
	padding: 5px;
	margin: 5px 15px 5px 5px;
	border: 1px solid #808080;
}

.ss-current {
	background: #EBFFEB;
	border-radius: 4px;
}

.pointer {
	cursor: pointer;
}

dd.createdby span.hasTooltip {
	margin: 0;
	padding: 0;
}

div.ss-picture {
	float: right;
	padding: 5px;
	margin: 20px 15px 5px 15px;
	border: 1px solid #808080;
}

.ss-entry {
	padding: 5px;
}

#playing {
	width: 100%;
	height: 60px;
	text-align: left;
}

#playing img {
	height: 100%;
	display: none;
	float: left;
}

#playing .text {
	float: left;
}

#playing .title {
	margin: 5px 0 0 10px;
	display: block;
	font-size: 15px;
	font-weight: bold;
}

#playing .desc {
	margin: 5px 0 0 10px;
	display: block;
	font-size: 10px;
	line-height: 1em;
}

#playing .duration {
	margin: 5px;
	font-weight: bold;
	font-size: 10px;
	float: right;
}

#playing .error {
	margin-right: 5px;
	padding: 3px;
	line-height: 10px;
	font-weight: bold;
	font-size: 10px;
	float: right;
	clear: right;
	display: none;
	border: 1px dotted red;
}

dl.sermon-info {
	float: left;
	max-width: 50%;
}

div.ss-dl input {
	margin: 5px 5px 0 0;
}

div.ss-seriesdownload-container {
	text-align: center;
}
