.row0 {
background-color: #dddddd;
}

.row1 {
background-color: #ffffff;
}

.download_btn {
font-size: 12px;
color: #000066;
font-family: verdana;
}

.popup_btn {
font-size: 12px;
color: #000066;
font-family: verdana;
}

.icon_play {
vertical-align: middle;
}