<?xml version="1.0" encoding="UTF-8"?>
<config>
	<fieldset
		name="component"
		label="COM_SERMONSPEAKER_FIELDSET_COMPONENT_LABEL"
	>

		<field
			name="date_format"
			type="dateformat"
			label="COM_SERMONSPEAKER_PARAM_DATE_FORMAT"
			description="COM_SERMONSPEAKER_PARAM_DATE_FORMAT_DESC"
			default="DATE_FORMAT_LC4"
		/>

		<field
			name="plugin_tag"
			type="plugintag"
			label="COM_SERMONSPEAKER_PARAM_PLUGIN_LABEL"
			description="COM_SERMONSPEAKER_PARAM_PLUGIN_DESC"
		/>

		<field
			name="speakerpopup"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_SPEAKERPOPUP_LABEL"
			description="COM_SERMONSPEAKER_FIELD_SPEAKERPOPUP_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="seriesdl"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_SERIESDL_LABEL"
			description="COM_SERMONSPEAKER_PARAM_SERIESDL_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="limitseriesdl"
			type="text"
			default=""
			label="COM_SERMONSPEAKER_PARAM_LIMITSERIESDL_LABEL"
			description="COM_SERMONSPEAKER_PARAM_LIMITSERIESDL_DESC"
		/>

		<field
			name="spacer1"
			type="spacer"
			hr="true"
		/>

		<field
			name="default_order"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_LABEL"
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DESC"
			default="ordering"
		>
			<option value="ordering">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_ORDERING</option>
			<option value="sermon_date">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_DATE</option>
			<option value="title">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_OPTION_TITLE</option>
		</field>

		<field
			name="default_order_dir"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_LABEL"
			description="COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_DESC"
			default="ASC"
		>
			<option value="ASC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_ASC</option>
			<option value="DESC">COM_SERMONSPEAKER_PARAM_DEFAULT_ORDER_DIR_OPTION_DESC</option>
		</field>

		<field
			name="list_icon_function"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_LABEL"
			description="COM_SERMONSPEAKER_PARAM_LIST_ICON_FUNCTION_DESC"
			default="2"
		>
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
			<option value="4">JHIDE</option>
		</field>

		<field
			name="list_title_function"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_LABEL"
			description="COM_SERMONSPEAKER_PARAM_LIST_TITLE_FUNCTION_DESC"
			default="0"
		>
			<option value="0">COM_SERMONSPEAKER_PARAM_LIST_OPTION_DETAIL</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_LIST_OPTION_FILE</option>
			<option value="2">COM_SERMONSPEAKER_PARAM_LIST_OPTION_PLAYER</option>
			<option value="3">COM_SERMONSPEAKER_PARAM_LIST_OPTION_POPUP</option>
		</field>

		<field
			name="filter_field"
			type="radio"
			label="JGLOBAL_FILTER_FIELD_LABEL"
			description="COM_SERMONSPEAKER_FILTER_FIELD_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_pagination_limit"
			type="radio"
			label="JGLOBAL_DISPLAY_SELECT_LABEL"
			description="JGLOBAL_DISPLAY_SELECT_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="default_pagination_limit"
			type="limitbox"
			label="COM_SERMONSPEAKER_FIELD_DEFAULT_PAGINATION_LIMIT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_DEFAULT_PAGINATION_LIMIT_DESC"
			useglobal="true"
		/>

		<field
			name="show_pagination"
			type="list"
			label="JGLOBAL_Pagination_Label"
			description="JGLOBAL_Pagination_Desc"
			default="2"
		>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
			<option value="2">JGLOBAL_AUTO</option>
		</field>

		<field
			name="show_pagination_results"
			type="radio"
			label="JGLOBAL_PAGINATION_RESULTS_LABEL"
			description="JGLOBAL_PAGINATION_RESULTS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

	</fieldset>

	<fieldset
		name="layouts"
		label="COM_SERMONSPEAKER_FIELDSET_LAYOUTS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_LAYOUTS_DESC"
	>

		<field
			name="sermonslayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SERMONS_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:table"
			useglobal="false"
			extension="com_sermonspeaker"
			view="sermons"
		/>

		<field
			name="sermonlayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SERMON_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:content"
			useglobal="false"
			extension="com_sermonspeaker"
			view="sermon"
		/>

		<field
			name="serieslayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SERIES_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:normal"
			useglobal="false"
			extension="com_sermonspeaker"
			view="series"
		/>

		<field
			name="serielayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SERIE_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:table"
			useglobal="false"
			extension="com_sermonspeaker"
			view="serie"
		/>

		<field
			name="speakerslayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SPEAKERS_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:normal"
			useglobal="false"
			extension="com_sermonspeaker"
			view="speakers"
		/>

		<field
			name="speakerlayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:sermons"
			useglobal="false"
			extension="com_sermonspeaker"
			view="speaker"
		/>

		<field
			name="seriessermonlayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:normal"
			useglobal="false"
			extension="com_sermonspeaker"
			view="seriessermon"
		/>

		<field
			name="categorieslayout"
			type="componentlayout"
			label="COM_SERMONSPEAKER_CATEGORIES_VIEW_TITLE"
			description="COM_SERMONSPEAKER_FIELD_LAYOUT_DESC"
			default="_:normal"
			useglobal="false"
			extension="com_sermonspeaker"
			view="categories"
		/>

		<field
			name="css_icomoon"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_CSS_ICOMOON_LABEL"
			description="COM_SERMONSPEAKER_FIELD_CSS_ICOMOON_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
		name="clientcol"
		label="COM_SERMONSPEAKER_FIELDSET_CLIENTCOL_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_CLIENTCOL_DESC"
		addfieldpath="/administrator/components/com_sermonspeaker/models/fields"
	>

		<field
			name="col"
			type="columns"
			label="COM_SERMONSPEAKER_SERMON"
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="num,category,scripture,speaker,date,length,series,addfile,notes,player,hits,download"
		>
			<option value="sermons">COM_SERMONSPEAKER_SERMONS_VIEW_TITLE</option>
			<option value="sermon">COM_SERMONSPEAKER_SERMON_VIEW_TITLE</option>
			<option value="serie" exclude="series">COM_SERMONSPEAKER_SERIE_VIEW_TITLE</option>
			<option value="speaker" exclude="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
			<option value="seriessermon" exclude="series">COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE</option>
		</field>

		<field
			name="col_serie"
			type="columns"
			label="COM_SERMONSPEAKER_SERIE"
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="category,description,speaker,hits,download"
		>
			<option value="series">COM_SERMONSPEAKER_SERIES_VIEW_TITLE</option>
			<option value="serie">COM_SERMONSPEAKER_SERIE_VIEW_TITLE</option>
			<option value="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
			<option value="seriessermon">COM_SERMONSPEAKER_SERIESSERMON_VIEW_TITLE</option>
		</field>

		<field
			name="col_speaker"
			type="columns"
			label="COM_SERMONSPEAKER_SPEAKER"
			description="COM_SERMONSPEAKER_FIELD_COL_DESC"
			cols="category,intro,bio,hits"
		>
			<option value="speakers">COM_SERMONSPEAKER_SPEAKERS_VIEW_TITLE</option>
			<option value="speaker">COM_SERMONSPEAKER_SPEAKER_VIEW_TITLE</option>
		</field>

	</fieldset>

	<fieldset
		name="paths"
		label="COM_SERMONSPEAKER_FIELDSET_PATHS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PATHS_DESC"
	>

		<field
			name="path"
			type="hidden"
		/>

		<field
			name="path_audio"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_PATH_AUDIO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_AUDIO_DESC"
			size="50"
			default="images"
		/>

		<field
			name="path_video"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_PATH_VIDEO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_VIDEO_DESC"
			size="50"
			default="images"
		/>

		<field
			name="path_addfile"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE"
			description="COM_SERMONSPEAKER_PARAM_PATH_ADDFILE_DESC"
			size="50"
			default="images"
		/>

		<field
			name="append_path"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LABEL"
			description="COM_SERMONSPEAKER_FIELD_APPEND_PATH_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="append_path_lang"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LANG_LABEL"
			description="COM_SERMONSPEAKER_FIELD_APPEND_PATH_LANG_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="googlepicker"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_GOOGLEPICKER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_GOOGLEPICKER_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="gapi_developerKey"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_GAPI_DEVKEY_LABEL"
			description="COM_SERMONSPEAKER_FIELD_GAPI_DEVKEY_DESC"
			showon="googlepicker:1"
		/>

		<field
			name="gapi_clientId"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_GAPI_CLIENTKEY_LABEL"
			description="COM_SERMONSPEAKER_FIELD_GAPI_CLIENTKEY_DESC"
			showon="googlepicker:1"
		/>

		<field
			name="spacer1"
			type="spacer"
			hr="true"
		/>

		<field
			name="spacer_path"
			type="spacer"
			label="COM_SERMONSPEAKER_SPACER_SERMON_LABEL"
			description="COM_SERMONSPEAKER_SPACER_SERMON_DESC"
		/>

		<field
			name="path_mode_audio"
			type="list"
			label="COM_SERMONSPEAKER_FIELD_PATH_MODE_AUDIO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_MODE_AUDIO_DESC"
			default="0"
		>
			<option value="0">JDEFAULT</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_PATH_MODE_S3</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_PATH_MODE_EXTERNAL</option>
		</field>

		<field
			name="path_mode_video"
			type="list"
			label="COM_SERMONSPEAKER_FIELD_PATH_MODE_VIDEO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PATH_MODE_VIDEO_DESC"
			default="0"
		>
			<option value="0">JDEFAULT</option>
			<option value="1">COM_SERMONSPEAKER_FIELD_PATH_MODE_VIMEO</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_PATH_MODE_S3</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_PATH_MODE_EXTERNAL</option>
		</field>

		<field
			name="vimeo_id"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_VIMEO_ID_LABEL"
			description="COM_SERMONSPEAKER_FIELD_VIMEO_ID_DESC"
			showon="path_mode_video:1"
			default=""
		/>

		<field
			name="s3_custom_bucket"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_S3_CUSTOM_BUCKET_LABEL"
			description="COM_SERMONSPEAKER_FIELD_S3_CUSTOM_BUCKET_DESC"
			showon="path_mode_audio:2[OR]path_mode_video:2"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="s3_bucket"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_S3_BUCKET_LABEL"
			description="COM_SERMONSPEAKER_FIELD_S3_BUCKET_DESC"
			showon="path_mode_audio:2[OR]path_mode_video:2"
			default=""
		/>

		<field
			name="s3_folder"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_S3_FOLDER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_S3_FOLDER_DESC"
			showon="path_mode_audio:2[OR]path_mode_video:2"
			default=""
		/>

		<field
			name="s3_access_key"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_S3_ACCESS_KEY_LABEL"
			description="COM_SERMONSPEAKER_FIELD_S3_ACCESS_KEY_DESC"
			showon="path_mode_audio:2[OR]path_mode_video:2"
			default=""
		/>

		<field
			name="s3_secret_key"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_S3_SECRET_KEY_LABEL"
			description="COM_SERMONSPEAKER_FIELD_S3_SECRET_KEY_DESC"
			showon="path_mode_audio:2[OR]path_mode_video:2"
			default=""
		/>

		<field
			name="extern_path"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_EXTERN_PATH_LABEL"
			description="COM_SERMONSPEAKER_FIELD_EXTERN_PATH_DESC"
			showon="path_mode_audio:3[OR]path_mode_video:3"
			default=""
		/>

		<field
			name="spacer2"
			type="spacer"
			hr="true"
		/>

		<field
			name="spacer_pictures"
			type="spacer"
			label="COM_SERMONSPEAKER_SPACER_PICTURES_LABEL"
			description="COM_SERMONSPEAKER_SPACER_PICTURES_DESC"
		/>

		<field
			name="path_avatar"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_PATH_AVATAR"
			description="COM_SERMONSPEAKER_PARAM_PATH_AVATAR_DESC"
			size="50"
			default="images"
		/>

		<field
			name="path_speakerpic"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_LABEL"
			description="COM_SERMONSPEAKER_PARAM_PATH_SPEAKERPIC_DESC"
			size="50"
			default="images"
		/>

		<field
			name="path_sermonpic"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_LABEL"
			description="COM_SERMONSPEAKER_PARAM_PATH_SERMONPIC_DESC"
			size="50"
			default="images"
		/>

	</fieldset>

	<fieldset
		name="player"
		label="COM_SERMONSPEAKER_FIELDSET_PLAYER_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_PLAYER_DESC"
	>

		<field
			name="alt_player"
			type="player"
			label="COM_SERMONSPEAKER_FIELD_ALT_PLAYER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ALT_PLAYER_DESC"
			default=""
		>
			<option value="">COM_SERMONSPEAKER_FIELD_PLAYER_OPTION_USE_PLUGIN</option>
		</field>

		<field
			name="fileprio"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_FILEPRIO_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FILEPRIO_DESC"
			default="0"
		>
			<option value="0">COM_SERMONSPEAKER_AUDIO</option>
			<option value="1">COM_SERMONSPEAKER_VIDEO</option>
		</field>

		<field
			name="autostart"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_AUTOSTART"
			description="COM_SERMONSPEAKER_PARAM_AUTOSTART_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="fileswitch"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_FILESWITCH_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FILESWITCH_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="awidth"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_AWIDTH_LABEL"
			description="COM_SERMONSPEAKER_FIELD_AWIDTH_DESC"
			default=""
		/>

		<field
			name="aheight"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_AHEIGHT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_AHEIGHT_DESC"
			default=""
		/>

		<field
			name="vwidth"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_VWIDTH_LABEL"
			description="COM_SERMONSPEAKER_FIELD_VWIDTH_DESC"
			default=""
		/>

		<field
			name="vheight"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_VHEIGHT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_VHEIGHT_DESC"
			default=""
		/>

		<field
			name="jwmode"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_JWMODE_LABEL"
			description="COM_SERMONSPEAKER_PARAM_JWMODE_DESC"
			default="0"
		>
			<option value="0">COM_SERMONSPEAKER_PARAM_JWMODE_OPTION_FLASH</option>
			<option value="1">COM_SERMONSPEAKER_PARAM_JWMODE_OPTION_HTML5</option>
		</field>

		<field
			name="jwskin"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_JWSKIN_LABEL"
			description="COM_SERMONSPEAKER_FIELD_JWSKIN_DESC"
			default=""
			size="75"
		/>

		<field
			name="plugins_spacer1"
			type="spacer"
			hr="true"
		/>

		<field
			name="plugins_spacer2"
			type="spacer"
			label="COM_SERMONSPEAKER_FIELD_PLUGINSSPACER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PLUGINSSPACER_DESC"
		/>

		<field
			name="ga_id"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_GAID_LABEL"
			description="COM_SERMONSPEAKER_FIELD_GAID_DESC"
			default=""
		/>

		<field
			name="share"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_SHARE_LABEL"
			description="COM_SERMONSPEAKER_FIELD_SHARE_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="viral"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_VIRAL_LABEL"
			description="COM_SERMONSPEAKER_FIELD_VIRAL_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="fbit"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_FBIT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBIT_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="tweetit"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_TWEETIT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_TWEETIT_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="plusone"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_PLUSONE_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PLUSONE_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
		name="detailpage"
		label="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_DETAILPAGE_DESC"
	>

		<field
			name="popup_player"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_POPUPBTN"
			description="COM_SERMONSPEAKER_PARAM_POPUPBTN_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="popup_color"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_POPUPCOLOR"
			description="COM_SERMONSPEAKER_PARAM_POPUPCOLOR_DESC"
			default="#FFFFFF"
		/>

		<field
			name="popup_height"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT"
			description="COM_SERMONSPEAKER_PARAM_POPUPHEIGHT_DESC"
			default="150"
		/>

		<field
			name="custom1"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_CUSTOM1_LABEL"
			description="COM_SERMONSPEAKER_FIELD_CUSTOM1_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="custom2"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_CUSTOM2_LABEL"
			description="COM_SERMONSPEAKER_FIELD_CUSTOM2_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="show_tags"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_SHOW_TAGS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_SHOW_TAGS_DESC"
			class="btn-group btn-group-yesno"
			id="show_tags"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="enable_keywords"
			type="list"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_DESC"
			default="0"
		>
			<option value="0">JNO</option>
			<option value="1">JFIELD_META_KEYWORDS_LABEL</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_TAGS_LABEL</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_ENABLE_KEYWORDS_OPTION_BOTH</option>
		</field>

		<field
			name="tags_to_metakey"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_TAGS_TO_METAKEY_LABEL"
			description="COM_SERMONSPEAKER_FIELD_TAGS_TO_METAKEY_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="access"
			type="accesslevel"
			label="COM_SERMONSPEAKER_PARAM_ACCESS"
			description="COM_SERMONSPEAKER_PARAM_ACCESS_DESC"
			default="1"
		/>

	</fieldset>

	<fieldset
		name="category"
		label="JCATEGORY"
		description="COM_SERMONSPEAKER_CONFIG_CATEGORY_SETTINGS_DESC"
	>

		<field
			name="show_category_title"
			type="radio"
			label="JGLOBAL_SHOW_CATEGORY_TITLE"
			description="JGLOBAL_SHOW_CATEGORY_TITLE_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_description"
			type="radio"
			label="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_DESCRIPTION_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_description_image"
			type="radio"
			label="JGLOBAL_SHOW_CATEGORY_IMAGE_LABEL"
			description="JGLOBAL_SHOW_CATEGORY_IMAGE_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="maxLevel"
			type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			default="-1"
		>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories"
			type="radio"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_SERMONSPEAKER_SHOW_EMPTY_CATEGORIES_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_subcat_desc"
			type="radio"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_cat_num_items"
			type="radio"
			label="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_subcategory_content"
			type="list"
			label="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORY_CONTENT_DESC"
			default="0"
		>
			<option value="0">JNONE</option>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>
	</fieldset>

	<fieldset
		name="categories"
		label="JCATEGORIES"
		description="COM_SERMONSPEAKER_CONFIG_CATEGORIES_SETTINGS_DESC"
	>

		<field
			name="show_base_description"
			type="radio"
			label="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_LABEL"
			description="JGLOBAL_FIELD_SHOW_BASE_DESCRIPTION_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="maxLevelcat"
			type="list"
			label="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_LABEL"
			description="JGLOBAL_MAXIMUM_CATEGORY_LEVELS_DESC"
			default="-1"
		>
			<option value="-1">JALL</option>
			<option value="1">J1</option>
			<option value="2">J2</option>
			<option value="3">J3</option>
			<option value="4">J4</option>
			<option value="5">J5</option>
		</field>

		<field
			name="show_empty_categories_cat"
			type="radio"
			label="JGLOBAL_SHOW_EMPTY_CATEGORIES_LABEL"
			description="COM_SERMONSPEAKER_SHOW_EMPTY_CATEGORIES_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_subcat_desc_cat"
			type="radio"
			label="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_LABEL"
			description="JGLOBAL_SHOW_SUBCATEGORIES_DESCRIPTION_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="show_cat_num_items_cat"
			type="radio"
			label="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_LABEL"
			description="COM_SERMONSPEAKER_NUMBER_CATEGORY_ITEMS_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="count_items_type"
			type="list"
			label="COM_SERMONSPEAKER_CATEGORY_ITEMS_TYPE_LABEL"
			description="COM_SERMONSPEAKER_CATEGORY_ITEMS_TYPE_DESC"
		>
			<option value="sermons">COM_SERMONSPEAKER_SERMONS</option>
			<option value="series">COM_SERMONSPEAKER_SERIES</option>
			<option value="speakers">COM_SERMONSPEAKER_SPEAKERS</option>
		</field>

	</fieldset>

	<fieldset
		name="statistics"
		label="COM_SERMONSPEAKER_FIELDSET_STATISTICS_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_STATISTICS_DESC"
	>

		<field
			name="track_speaker"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER"
			description="COM_SERMONSPEAKER_PARAM_TRACKSPEAKER_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="track_series"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_TRACKSERIES"
			description="COM_SERMONSPEAKER_PARAM_TRACKSERIES_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="track_sermon"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_TRACKSERMON"
			description="COM_SERMONSPEAKER_PARAM_TRACKSERMON_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

	</fieldset>

	<fieldset
		name="frup"
		label="COM_SERMONSPEAKER_FIELDSET_FRUP_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_FRUP_DESC"
	>

		<field
			name="fu_enable"
			type="radio"
			class="btn-group btn-group-yesno"
			default="0"
			label="COM_SERMONSPEAKER_PARAM_FU_ENABLE"
			description="COM_SERMONSPEAKER_PARAM_FU_ENABLE_DESC"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="enable_flash"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_FLASH_UPLOADER_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="enable_non_flash"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_NON_FLASH_UPLOADER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_NON_FLASH_UPLOADER_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="audio_filetypes"
			type="textarea"
			label="COM_SERMONSPEAKER_FIELD_AUDIO_FILETYPES_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FILETYPES_DESC"
			default="aac, m4a, f4a, mp3, ogg, oga"
		/>

		<field
			name="video_filetypes"
			type="textarea"
			label="COM_SERMONSPEAKER_FIELD_VIDEO_FILETYPES_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FILETYPES_DESC"
			default="mp4, m4v, f4v, mov, flv, webm"
		/>

		<field
			name="addfile_filetypes"
			type="textarea"
			label="COM_SERMONSPEAKER_FIELD_ADDFILE_FILETYPES_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FILETYPES_DESC"
			default="png, gif, jpg, bmp, pdf, txt, doc, docx, ppt, pptx, pps"
		/>

		<field
			name="write_id3"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_WRITE_ID3_LABEL"
			description="COM_SERMONSPEAKER_FIELD_WRITE_ID3_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="catfilter_lists"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_CATFILTER_LISTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_CATFILTER_LISTS_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="addfiledesc"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_ADDFILEDESC_LABEL"
			description=""
		/>

		<field
			name="picture_prio"
			type="list"
			label="COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_DESC"
			default="0"
		>
			<option value="0">COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_OPTION_SERMON_SERIE_SPEAKER</option>
			<option value="1">COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_OPTION_SERMON_SERIE</option>
			<option value="2">COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_OPTION_SERMON_SPEAKER_SERIE</option>
			<option value="3">COM_SERMONSPEAKER_FIELD_PICTURE_PRIO_OPTION_SERMON_SPEAKER</option>
		</field>

		<field
			name="defaultpic"
			type="imagelist"
			label="COM_SERMONSPEAKER_FIELD_DEFAULTPIC_LABEL"
			description="COM_SERMONSPEAKER_FIELD_DEFAULTPIC_DESC"
			hide_none="1"
			directory="/media/com_sermonspeaker/images"
		/>

		<field
			name="save_history"
			type="radio"
			label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
			description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="history_limit"
			type="text"
			label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
			description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
			filter="integer"
			default="10"
		/>

		<field
			name="addbooks"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_ADDBOOKS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ADDBOOKS_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="sermoncast"
		label="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_SERMONCAST_DESC"
	>

		<field
			name="sc_title"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_TITLE_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FEED_TITLE_DESC"
			default="MyChurch Podcast"
		/>

		<field
			name="description"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FEED_DESCRIPTION_DESC"
			default="Predigt / Sermon"
		/>

		<field
			name="rssImage"
			type="media"
			label="COM_SERMONSPEAKER_FIELD_RSSIMAGE_LABEL"
			description="COM_SERMONSPEAKER_FIELD_RSSIMAGE_DESC"
			default=""
			directory=""
		/>

		<field
			name="copyright"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FEED_COPYRIGHT_DESC"
			default="(c) mychurch"
		/>

		<field
			name="editor"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOR"
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOR_DESC"
			default="MyChurch"
		/>

		<field
			name="editorEmail"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL"
			description="COM_SERMONSPEAKER_PARAM_FEED_EDITOREMAIL_DESC"
			default="admin@mychurch.com"
		/>

		<field
			name="use_sef"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_USE_SEF_LABEL"
			description="COM_SERMONSPEAKER_FIELD_USE_SEF_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="prepare_content"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_PREPARE_CONTENT_LABEL"
			description="COM_SERMONSPEAKER_FIELD_PREPARE_CONTENT_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="limit_text"
			type="radio"
			label="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT"
			description="COM_SERMONSPEAKER_PARAM_FEED_LIMITTEXT_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="text_length"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH"
			description="COM_SERMONSPEAKER_PARAM_FEED_TEXTLENGTH_DESC"
			default="20"
		/>

		<field
			name="sc_custom"
			type="textarea"
			label="COM_SERMONSPEAKER_PARAM_FEED_CUSTOM_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FEED_CUSTOM_DESC"
			rows="5"
			cols="5"
			default=""
			filter="raw"
		/>

		<field
			name="spacer_itunes"
			type="spacer"
			label="COM_SERMONSPEAKER_FIELDSET_ITUNES_LABEL"
			description="COM_SERMONSPEAKER_FIELDSET_ITUNES_DESC"
			hr="false"
		/>

		<field
			name="itKeywords"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITKEYWORDS_DESC"
			default="MyChurch"
		/>

		<field
			name="itSubtitle"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITSUBTITLE_DESC"
			default=""
		/>

		<field
			name="itImage"
			type="media"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITIMAGE_DESC"
			default=""
			directory=""
		/>

		<field
			name="itCategory1"
			type="itcategorieslist"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY1_DESC"
			default="Religion &amp; Spirituality"
		/>

		<field
			name="itCategory2"
			type="itcategorieslist"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY2_DESC"
			default="Religion &amp; Spirituality > Christianity"
		/>

		<field
			name="itCategory3"
			type="itcategorieslist"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITCATEGORY3_DESC"
			default=""
		/>

		<field
			name="itOwnerName"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNERNAME_DESC"
			default=""
		/>

		<field
			name="itOwnerEmail"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITOWNEREMAIL_DESC"
			default="admin@mychurch.com"
		/>

		<field
			name="itLanguage"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITLANGUAGE_DESC"
			default="en"
		/>

		<field
			name="itRedirect"
			type="text"
			label="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT"
			description="COM_SERMONSPEAKER_PARAM_FEED_ITREDIRECT_DESC"
			default=""
		/>

	</fieldset>

	<fieldset
		name="sitemap"
		label="COM_SERMONSPEAKER_FIELDSET_SITEMAP_LABEL"
		description="COM_SERMONSPEAKER_FIELDSET_SITEMAP_DESC"
	>

		<field
			name="freq"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_FREQ_LABEL"
			description="COM_SERMONSPEAKER_PARAM_FREQ_DESC"
			useglobal="true"
			default="weekly"
		>
			<option value="always">always</option>
			<option value="hourly">hourly</option>
			<option value="daily">daily</option>
			<option value="weekly">weekly</option>
			<option value="monthly">monthly</option>
			<option value="yearly">yearly</option>
			<option value="never">never</option>
		</field>

		<field
			name="prio"
			type="list"
			label="COM_SERMONSPEAKER_PARAM_PRIO_LABEL"
			description="COM_SERMONSPEAKER_PARAM_PRIO_DESC"
			useglobal="true"
			default="0.5"
		>
			<option value="0.0">0.0</option>
			<option value="0.2">0.2</option>
			<option value="0.3">0.3</option>
			<option value="0.4">0.4</option>
			<option value="0.5">0.5</option>
			<option value="0.6">0.6</option>
			<option value="0.7">0.7</option>
			<option value="0.8">0.8</option>
			<option value="0.9">0.9</option>
			<option value="1.0">1.0</option>
		</field>

	</fieldset>

	<fieldset
		name="integration"
		label="JGLOBAL_INTEGRATION_LABEL"
	>

		<field
			name="enable_jcomments"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_JCOMMENTS_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="enable_ga_events"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_ENABLE_GA_EVENTS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_ENABLE_GA_EVENTS_DESC"
			class="btn-group btn-group-yesno"
			default="0"
		>
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
			name="show_feed_link"
			type="radio"
			label="JGLOBAL_SHOW_FEED_LINK_LABEL"
			description="JGLOBAL_SHOW_FEED_LINK_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JSHOW</option>
			<option value="0">JHIDE</option>
		</field>

		<field
			name="facebook_spacer1"
			type="spacer"
			hr="true"
		/>

		<field
			name="facebook_spacer2"
			type="spacer"
			label="COM_SERMONSPEAKER_FIELD_FBSPACER_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBSPACER_DESC"
		/>

		<field
			name="opengraph"
			type="radio"
			label="COM_SERMONSPEAKER_FIELD_OPENGRAPH_LABEL"
			description="COM_SERMONSPEAKER_FIELD_OPENGRAPH_DESC"
			class="btn-group btn-group-yesno"
			default="1"
		>
			<option value="1">JENABLED</option>
			<option value="0">JDISABLED</option>
		</field>

		<field
			name="fbadmins"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_FBADMINS_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBADMINS_DESC"
			showon="opengraph:1"
			default=""
		/>

		<field
			name="fbapp_id"
			type="text"
			label="COM_SERMONSPEAKER_FIELD_FBAPPID_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBAPPID_DESC"
			showon="opengraph:1"
			default=""
		/>

		<field
			name="fbmode"
			type="list"
			label="COM_SERMONSPEAKER_FIELD_FBMODE_LABEL"
			description="COM_SERMONSPEAKER_FIELD_FBMODE_DESC"
			showon="opengraph:1"
			default="0"
		>
			<option value="0">COM_SERMONSPEAKER_FIELD_FBMODE_OPTION_AUTO</option>
			<option value="1">COM_SERMONSPEAKER_FIELD_FBMODE_OPTION_ARTICLE</option>
		</field>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			validate="rules"
			filter="rules"
			component="com_sermonspeaker"
			section="component"
		/>

	</fieldset>
</config>
