.clr{
	clear:both;
}
.ss-hide{
	display:none;
}
.pointer{
	cursor:pointer;
}
.intend{
	clear:left;
}

/* Plupload */
.filelist {
	margin: 5px 0 0 0;
}
.filelist .alert {
	padding: 5px;
	margin-bottom: 2px;
}
.filelist .alert .close {
	right: 0;
}

.scripture{
	background-color:#CF9 !important;
}
.scripture.old{
	background-color:#FF997F !important;
}
.scripture.unsaved {
	cursor: not-allowed;
	background-color: #eee !important;
}

.ss-hide{
	display:none;
}

.icon.inactive a{
	background-color:#F4F4F4 !important;
}


a.contribute{
	background: none repeat scroll 0 0 #F4F4F4;
	border: 1px solid #CCCCCC;
	padding: 5px;
}

.pointer{
	cursor:pointer;
}
input[type="text"].invalid, select.invalid, .invalid span, .invalid{
	border-color:red;
	color:red;
}
.icon-radio-checked{
	color: #468847;
}
.icon-radio-checked:hover,
.icon-radio-checked:focus{
	color: #356635;
}
.icon-radio-unchecked{
	color: #b94a48;
}
.icon-radio-unchecked:hover,
.icon-radio-unchecked:focus {
	color: #953b39;
}

#sermonList a.active > .icon-feed {
	color: #f0ad4e;
	border-color: #f0ad4e;
}
.id3-info {
	float: left;
	border: 1px dotted grey;
	border-radius: 5px;
	padding: 4px 8px;
	background-color: lightyellow;
}
