.download_btn {
	font-size: 12px;
	color: #000066;
	font-family: verdana;
}

.popup_btn {
	font-size: 12px;
	color: #000066;
	font-family: verdana;
}

div.popup{
	padding: 5px; 
	text-align: center;
}

.icon_play {
	vertical-align: middle;
	border: none;
}

.ss-avatar, .ss-pic{
	float:left;
}
.ss-avatar img, .ss-pic img{
	padding:5px;
	margin: 5px 15px 5px 5px;
	border:1px solid #808080;
}

.ss-speaker-text{
	margin:15px;
}

.no_entries{
	background-color: #eeeeee;
	padding:5px;
	border:2px dashed #fa8072;
}

.ss-sermondetail-container{
	width:100%;
	margin:15px;
}

.ss-sermondetail-label{
	padding-top:5px;
	float:left;
	width:30%;
	font-weight:bold;
}

.ss-sermondetail-text{
	padding-top:5px;
	margin-left:31%;
}

.ss-sermon-player{
	margin-top:10px;
	margin-bottom:10px;
}

.ss-serie-player, .ss-sermons-player, .ss-archive-player, .ss-speaker-player{
	text-align: center;
	margin-bottom:10px;
}
.ss-serie-player div, .ss-sermons-player div, .ss-archive-player div, .ss-speaker-player div{
	margin:auto;
}
.clear-left{
	clear:left;
}
.ss-sermon-container .article-info .hasTip{
	padding:0;
	margin:0;
}

hr.ss-serie-player, hr.ss-sermons-player, hr.ss-archive-player, hr.ss-speaker-player{
	margin: auto;
	width: 80%; 
	height: 1px; 
	text-align: center;
}
.ss-title{
	width:20%;
}
tr.ss-current td{
	background:#EBFFEB;
}
.pointer{
	cursor:pointer;
}