.badge {
	border-radius: 9px 9px 9px 9px;
	padding: 1px 9px 2px;
	background-color: #999999;
	color: #FFFFFF;
}

.download_btn {
	font-size: 12px;
	color: #000066;
	font-family: verdana;
}

.popup_btn {
	font-size: 12px;
	color: #000066;
	font-family: verdana;
}

div.popup{
	padding: 5px; 
	text-align: center;
}
div.popup div{
	margin:auto;
}
.icon_play {
	vertical-align: middle;
	border: none;
}

.ss-avatar, .ss-pic{
	float:left;
}
.ss-avatar img, .ss-pic img{
	padding:5px;
	margin: 5px 15px 5px 5px;
	border:1px solid #808080;
}

.ss-speaker-text{
	margin:15px;
}

.no_entries{
	background-color: #eeeeee;
	padding:5px;
	border:2px dashed #fa8072;
}

.ss-sermondetail-container{
	width:100%;
	margin:15px;
}

.ss-sermondetail-label{
	padding-top:5px;
	float:left;
	clear:left;
	width:30%;
	font-weight:bold;
}

.ss-sermondetail-text{
	padding-top:5px;
	margin-left:31%;
}

.ss-sermon-player{
	margin-top:10px;
	margin-bottom:10px;
}
.ss-sermondetail-container .ss-sermon-player{
	width:75%;
}

div.ss-serie-player, div.ss-sermons-player, div.ss-speaker-player{
	text-align: center;
	margin:auto;
	width:80%;
	margin-bottom:10px;
}
div.ss-serie-player div, div.ss-sermons-player div, div.ss-speaker-player div{
	margin:auto;
}
hr.ss-serie-player, hr.ss-sermons-player, hr.ss-speaker-player{
	margin: auto;
	height: 1px; 
	text-align: center;
}
.clear-left{
	clear:left;
}
.ss-sermon-container .article-info .hasTip{
	padding:0;
	margin:0;
}
.ss-current{
	background:#EBFFEB;
	border-radius:4px;
}
.pointer{
	cursor:pointer;
}
dd.createdby span.hasTip{
	margin:0;
	padding:0;
}
div.ss-picture{
	float:right;
	padding:5px;
	margin: 20px 15px 5px 15px;
	border:1px solid #808080;
}
.ss-entry{
	padding:5px;
}
#playing{
	width:100%;
	height:60px;
	text-align:left;
}
#playing img{
	height:100%;
	display:none;
	float:left;
}
#playing .text{
	float:left;
}
#playing .title{
	margin:5px 0 0 10px;
	display:block;
	font-size:15px;
	font-weight:bold;
}
#playing .desc{
	margin:5px 0 0 10px;
	display:block;
	font-size:10px;
	line-height:1em;
}
#playing .duration{
	margin:5px;
	font-weight:bold;
	font-size:10px;
	float:right;
}
#playing .error{
	margin-right:5px;
	padding:3px;
	line-height:10px;
	font-weight:bold;
	font-size:10px;
	float:right;
	clear:right;
	display:none;
	border:1px dotted red;
}
dl.sermon-info{
	float:left;
	max-width:50%;
}
div.ss-dl input{
	margin:5px 5px 0 0;
}
div.ss-seriesdownload-container{
	text-align:center;
}