<?php 
/*
* File: config.sermonspeaker.php
*  @ speaker - A SermonSpeaker Component
*  @ Copyright 2006 - 2008 by Steve Shiflett & Martin Hess
*  @ Website - http://joomlacode.org/gf/project/sermon_speaker/
*/

defined( '_JEXEC' ) or die( 'Restricted access' );

class sermonConfig {
var $ss_version = "3.3.1" ;
var $sermonresults = "5" ;
var $limit_speaker = "1" ;
var $speaker_intro = "1" ;
var $client_col_sermon_number = "1" ;
var $client_col_sermon_scripture_reference = "1" ;
var $client_col_sermon_date = "1" ;
var $client_col_sermon_time = "1" ;
var $client_col_sermon_notes = "1" ;
var $client_col_player = "1" ;
var $track_speaker = "1" ;
var $track_series = "1" ;
var $track_sermon = "1" ;
var $search = "1" ;
var $date_format = "1" ;
var $startpage = "1" ;
var $ls_nbr_latest = "3" ;
var $mp_width = "300" ;
var $mp_height = "300" ;
var $ls_show_mouseover = "1" ;
var $ls_show_mo_speaker = "1" ;
var $ls_show_mo_series = "1" ;
var $ls_show_mo_date = "1" ;
var $color1 = "DDDDDD" ;
var $color2 = "FFFFFF" ;
var $sermonlayout = "2" ;
var $ga = "" ;
var $allow_ussp = "0" ;
var $autostart = "0" ;
var $client_col_sermon_addfile = "1" ;
var $popup_player = "1" ;
var $popup_color = "FFFFFF" ;
var $dl_button = "1" ;
var $popup_height = "150" ;
var $fu_enable = "1" ;
var $fu_taskname = "myupload" ;
var $fu_destdir = "" ;
var $fu_pwd = "" ;
var $fu_id3_title = "Title" ;
var $fu_id3_speaker = "Artist" ;
var $fu_id3_series = "Album" ;
var $fu_id3_ref = "-" ;
var $fu_id3_number = "Track" ;
var $fu_id3_notes = "Comment" ;
var $hide_dl = "0" ;
} 
?>
