@charset "utf-8";
/* CSS Document */

.sermon-rotator-25
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_25.png) repeat-x;
}
.sermon-rotator-33
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_33.png) repeat-x;
}
.sermon-rotator-38
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_38.png) repeat-x;
}
.sermon-rotator-50
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_50.png) repeat-x;
}
.sermon-rotator-63 
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_63.png) repeat-x;
}
.sermon-rotator-75
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_bg_75.png) repeat-x;
}
.sermon-rotator-current-25
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_25.png) repeat-x;
}
.sermon-rotator-current-33
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_33.png) repeat-x;	
}
.sermon-rotator-current-38
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_38.png) repeat-x;
}
.sermon-rotator-current-50
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_50.png) repeat-x;
}
.sermon-rotator-current-63
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_63.png) repeat-x;	
}
.sermon-rotator-current-75
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_nav_selected_75.png) repeat-x;	
}
.sermon-rotator-arrow-25
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_25.png)no-repeat;
}
.sermon-rotator-arrow-33
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_33.png)no-repeat;
}
.sermon-rotator-arrow-38
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_38.png)no-repeat;
}
.sermon-rotator-arrow-50
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_50.png)no-repeat;
}
.sermon-rotator-arrow-63
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_63.png)no-repeat;	
}
.sermon-rotator-arrow-75
{
	background:url(/modules/mod_sermonsrotator/images/radvest/radvest_pointer_selected_75.png) no-repeat;	
}